.header-container {
    display: flex;
    align-items: center;
    background-color: var(--accent-color);
    color: white;
    padding: 15px 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    height: 5em;
}
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.header-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}